nlp_proj_env/

data/genius-lyrics-cleaned/*
!data/genius-lyrics-cleaned/.gitkeep
!data/genius-lyrics-cleaned/README.md

logs/out/*
!logs/out/.gitkeep

logs/err/*
!logs/err/.gitkeep

results/phase1/corpus_preparation_and_exploration/*/sentences_by_bin/*
!results/phase1/corpus_preparation_and_exploration/*/sentences_by_bin/.gitkeep
!results/phase1/corpus_preparation_and_exploration/*/sentences_by_bin/README.md

results/phase1/training/*/*/model/*
!results/phase1/training/*/*/model/.gitkeep

results/phase1/alignment/*/*/model/*
!results/phase1/alignment/*/*/model/.gitkeep
